<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuwatAligut2x.Data.Properties.Settings.SuwatAligut2xConnectionString"
            connectionString="Data Source=TSTPC22;Initial Catalog=SuwatAligut2x;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>